@media (max-width: 640px) {
  .con-konten {
    width: 100% !important;
    /* background-color: aqua; */
  }
  .con-bg-web-preview {
    display: none;
  }
}

.isfiosudig {
  transform: translateY(0) !important;
}
