@media (max-width: 640px) {
  /* card web hilang */
  .adadad {
    display: none !important;
  }
}

.isfiosudig {
  transform: translateY(0) !important;
}

.dsdedef {
  height: 30rem !important;
  /* transition: all 0.4s ease-in-out !important; */
}
