@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

@media (max-width: 1024px) {
  .con-web-home section:nth-child(2) div {
    /* background-color: green; */
    width: 100% !important;
    padding: 0 0 0 2rem;
  }
  .con-web-home section:nth-child(2) div div {
    margin-top: 50% !important;
  }
}

.fontPixel {
  font-family: "Jersey 15", sans-serif;
}
.glass {
  background: rgba(255, 255, 255, 0.032); /* transparan */
  backdrop-filter: blur(10px); /* efek blur belakang */
  -webkit-backdrop-filter: blur(10px); /* support Safari */
  /* border: 1px solid rgba(255, 255, 255, 0.2); border tipis */
  /* border-radius: 1rem; sudut melengkung */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); bayangan lembut */
  /* color: white; teks biar kontras */
}
