@media (max-width: 1024px) {
  .wrapper-person {
    transform: translateX(-50%);
  }
  .con-konten-home header {
    margin-top: 15rem !important;
  }
}
@media (max-width: 640px) {
  .wrapper-person {
    margin-top: 5rem;
    transform: translateX(-55%);
  }
}
