.teks-title {
  color: var(--main-font);
  font-weight: 800;
  font-size: clamp(1rem, calc(3vw + 1rem), 3rem);
}

.key-goUp {
  animation: goUp 20s linear infinite;
}
.key-goDown {
  animation: goDown 20s linear infinite;
}
@keyframes goUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes goDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

/* efek gilap start */

@keyframes gilapGerak {
  0% {
    transform: translateX(-2000%);
  }

  80% {
    transform: translateX(2000%); /* selesai bergerak di 80% */
  }

  100% {
    transform: translateX(2000%); /* diam (delay) di akhir animasi */
  }
}

/* efek gilap end */

/* icon tolls about start */

.adobeIllustrator {
  animation: adobeIllustrator 100s linear infinite;
}

@keyframes adobeIllustrator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* icon tolls about end*/
