@media (min-width: 1025px) {
}
@media (max-width: 1024px) {
  .container-background-garuda {
    transform: translateX(40rem) !important;
  }
  .container-konten-garuda {
    justify-content: start !important;
  }
}
@media (max-width: 640px) {
  .home-about {
    flex-direction: column;
  }
  .home-about .box {
    width: 100% !important;
    /* background-color: aqua; */
  }
  .home-about .box:nth-child(1) {
    height: 40% !important;
  }
  .home-about .box:nth-child(2) {
    height: 60% !important;
  }

  .home-about .box:nth-child(2) div {
    width: 80% !important;
  }

  .container-background-garuda {
    transform: translateX(30rem) !important;
  }
  .about {
    flex-direction: column;
  }
  .about section {
    width: 100% !important;
  }
}

/* keyframe garuda start */
.sayap-kiri {
  animation: sayapKiriHempas 1s ease-in-out infinite;
  transform-style: preserve-3d;
}

@keyframes sayapKiriHempas {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-20deg); /* Arah turun ke bawah */
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.sayap-kanan {
  animation: sayapKananHempas 1s ease-in-out infinite;
  /* transform-origin: top left; Titik rotasi di dalam pangkal kanan */
  transform-style: preserve-3d;
}

@keyframes sayapKananHempas {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(20deg); /* Lawan dari kiri: arah turun ke bawah */
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.ekor {
  animation: rotateDepan 0.5s ease-in-out infinite alternate;
}

@keyframes rotateDepan {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(50deg);
  }
}

.objek-random {
  /* animation: gerakRandom 20s ease-in-out infinite;
  display: inline-block; */

  display: inline-block;
  animation: wiggle 10s linear infinite;
}

@keyframes wiggle {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
  15% {
    transform: translateY(-2px) rotate(-3deg) scale(1.05);
  }
  30% {
    transform: translateY(3px) rotate(3deg) scale(0.95);
  }
  45% {
    transform: translateY(-3px) rotate(-2deg) scale(1.08);
  }
  60% {
    transform: translateY(2px) rotate(2deg) scale(0.97);
  }
  75% {
    transform: translateY(-1px) rotate(-1deg) scale(1.03);
  }
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
}

/* keyframe garuda end */

/* style font halaman awal */
@media (max-width: 640px) {
  .con-teks-page-home {
    height: 2rem !important;
  }
  .teks-page-home {
    font-size: 1.9rem !important;
  }
}
/* style font halaman awal end */

@keyframes techScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes techScrollv2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.con-tech-scroll {
  animation: techScroll 50s linear infinite;
}

.clone-tech-scroll {
  /* background-color: green; */
  flex-direction: row-reverse;
}

.clone-tech-scroll .con-tech-scroll {
  /* background-color: red; */
  animation: none;
  animation: techScrollv2 50s linear infinite;
}

/* karir */

@media (max-width: 1024px) {
  .sidebar-karir {
    width: 8rem !important;
  }
}
@media (max-width: 640px) {
  .sidebar-karir {
    width: 1rem !important;
  }
  .card-pengalaman section ul {
    padding-top: 7rem !important;
    padding-right: 1rem !important;
  }
}

/* page story start */
@media (max-width: 640px) {
  .con-konten-about div:nth-child(2) {
    /* background-color: aqua; */
    height: 8rem !important;
  }
}
.zIndex2 {
  z-index: 3;
}

.fotoKiri {
  animation: fotoKiri 1s ease;
}
.fotoKiriBack {
  animation: fotoKiriBack 1s ease;
}
.fotoKanan {
  animation: fotoKanan 1s ease;
}
.fotoKananBack {
  animation: fotoKananBack 1s ease;
}

@keyframes fotoKiri {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fotoKiriBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fotoKanan {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@keyframes fotoKananBack {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
/* page story end */

/* page quick question strat */
.counterNone {
  display: flex !important;
}
.logoX {
  transform: rotate(140deg) !important;
}
/* .penutup::before {
  position: absolute;
  width: 100%;
  height: 1rem;
  content: "";
  background: linear-gradient(
    to top,
    var(--background-color),
    rgba(255, 255, 255, 0)
  );
  z-index: 2;
  background-color: aqua;
} */
.penutupTurun {
  /* transform: translateY(100%) !important; */
  opacity: 0;
}
/* page quick question end */

@media (max-width: 640px) {
  .djuumb {
    width: 3rem !important;
  }
}
