@media (max-width: 640px) {
  /* card web hilang */
  .adadad {
    display: none !important;
  }
}

.isfiosudig {
  transform: translateY(0) !important;
}

.dsdedef {
  height: 30rem !important;
}

@media (min-width: 640px) {
  .scuhas {
    display: none;
  }
}
