@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

@media (max-width: 1024px) {
  .con-web-home section:nth-child(2) div {
    /* background-color: green; */
    width: 100% !important;
    padding: 0 0 0 2rem;
  }
  .con-web-home section:nth-child(2) div div {
    margin-top: 50% !important;
  }
}

.fontPixel {
  font-family: "Jersey 15", sans-serif;
}
.glass {
  background-color: rgba(49, 39, 36, 0.174);
  backdrop-filter: blur(12px);
}
